# Port application
PORT=3000

# AWS RDS PostgreSQL Configuration
DB_HOST=database-1.c3akkwyca51b.ap-southeast-2.rds.amazonaws.com
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=DbPassW0rd2026
DB_NAME=postgres

# AWS S3 Storage Configuration
AWS_REGION=ap-southeast-2
AWS_S3_BUCKET=aws-example-files-bucket

# AWS SQS Queue Configuration
SQS_QUEUE_URL=https://sqs.ap-southeast-2.amazonaws.com/739795705551/aws-example-job-queue

# AWS SNS Topic Configuration
SNS_TOPIC_ARN=arn:aws:sns:ap-southeast-2:739795705551:aws-example-event-topic


