# Port application
PORT=3000

# AWS RDS PostgreSQL Configuration
DB_HOST=database-1.c3akkwyca51b.ap-southeast-2.rds.amazonaws.com
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=DbP@ssW0rd2026
DB_NAME=postgres

# AWS S3 Storage Configuration
AWS_REGION=ap-southeast-2
AWS_S3_BUCKET=aws-example-files-bucket-sondev2026
